*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.logo{
    height: 74px;
    width: 100%;
    background-color:#fff;
    display: flex;
    align-items: center;
}

.img{
    height: 54px;
    width: 145px;
    margin: 0 auto;
    background: url("../assets/time-logo.svg") no-repeat center;
    background-size: cover;

}

.container{
    width: 100%;
    height: 100vh;
    background: url("../assets/bg-1.jpg") no-repeat center;
    background-size: cover;
}

.nav{
    background: #fff;
    text-align: center;
}

.nav-bar{
    display: inline-flex;
    align-items: center;
}

.nav-item{
    margin: 15px;
}

.nav-link{
    color: #000;
    padding: 15px;
    font-family: sans-serif;
}

.nav-link:hover, .nav-link:active{
    background: #1C1E1F;
    color: #fff;
    border-radius: 20px;
}

.sub-menu{
    display: none;
}

.second-sub__menu{
    display: none;
}

.nav-item:hover .sub-menu{
    display: block;
    position: absolute;
    background: #fff;
    margin-top: 15px;
    margin-left: -15px;
    padding: 15px;
    border-radius: 8px;
}

.sub-menu a{
    line-height: 1.5;
    padding: 5px;
}

.sub-menu li:hover{
    background-color: #1C1E1F;
    border-radius: 10px;

}
.sub-menu a:hover{
    color: #fff;
}

.second-menu:hover .second-sub__menu{
    display: block;
    position: absolute;
    background: #fff;
    margin-top: -50px;
    margin-left: 145px;
    padding: 15px;
    border-radius: 8px;
}

.sub-menu a{
    line-height: 1.5;
    padding: 5px;
}

.pandora-img{
    width: 325px;
    height: 259px;
    background: url("https://time.am/upload/iblock/fef/fefe4264e2a1b3952425f900b554298f.jpg") no-repeat center;
    background-size: cover;
}

.pandora-img:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, .2);
}

.pandora{
    display: none;
}

.nav-item:hover .pandora{
    display: block;
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    right: 0;
    margin-top: 15px;
    padding: 15px;
    border-radius: 8px;
}

.mid-div{
    display: flex;
    margin: 5px auto 0;
    justify-content: space-around;
}

.part-left a, .part-right a{
    line-height:1.5;
    padding: 8px;
}

.part-left a:hover, .part-right a:hover{
    background-color: #1C1E1F;
    border-radius: 10px;
    color: #fff;
}

.title{
    font-weight:800;
}

.part-right{
    margin: 0 50px;
}
